body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.columna-izquierda, .columna-derecha {
    flex: 1;
}

.titulo {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

.busqueda {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-busqueda {
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
}

.btn-buscar {
    padding: 15px 30px; /* Aumenta el tamaño del botón de búsqueda */
    font-size: 16px;
    background-color: #008CBA; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-buscar:hover {
    background-color: #007B9E; /* Color de fondo al pasar el mouse */
}

.btn-crear {
    margin: 20px auto 0; /* Centra el botón horizontalmente */
    display: block; /* Hace que el botón sea tratado como un elemento bloque */
    padding: 20px; /* Aumenta el tamaño del botón */
    font-size: 32px; /* Agranda el símbolo "+" */
    font-weight: bold;
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px; /* Ancho del botón */
    height: 80px; /* Alto del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-crear:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.1); 
}
