<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center mb-4">Crear Proyecto</h2>
      <form (ngSubmit)="guardarProyecto()">
        <div class="form-group">
          <label for="tiempoEstimado">Fecha Estimada</label>
          <input
            type="date"
            id="tiempoEstimado"
            [(ngModel)]="proyecto.tiempoEstimado"
            name="tiempoEstimado"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea
            id="descripcion"
            [(ngModel)]="proyecto.descripcion"
            name="descripcion"
            rows="3"
            class="form-control"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
          <select
            id="estado"
            [(ngModel)]="proyecto.estado"
            name="estado"
            class="form-control"
            required
          >
            <option value="En Proceso">En Proceso</option>
            <option value="Completado">Completado</option>
            <option value="Pendiente">Pendiente</option>
          </select>
        </div>

        <div class="form-group">
          <label for="lider">Líder</label>
          <select
            id="lider"
            [(ngModel)]="proyecto.lider"
            name="lider"
            class="form-control"
            required
          >
            <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuarios">
              {{ usuario.nombreusuarios }}
            </option>
          </select>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Crear Proyecto</button>
        </div>
      </form>
    </div>
  </div>
</div>


  
  
