<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center mb-4">Generar Tarea</h2>
      <form>
        <div class="form-group">
          <label for="tiempo">Tiempo estimado</label>
          <input type="datetime-local" id="tiempo" [(ngModel)]="tarea.tiempo" name="tiempo" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="progreso">Progreso</label>
          <input type="number" id="progreso" [(ngModel)]="tarea.progreso" name="progreso" class="form-control" min="0" max="100" required>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" [(ngModel)]="tarea.descripcion" name="descripcion" class="form-control" required></textarea>
        </div>

        <div class="form-group">
          <label for="usuario">Usuario</label>
          <select id="usuario" [(ngModel)]="tarea.id_usuario" name="id_usuario" class="form-control" required>
            <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuarios">
              {{ usuario.nombreusuarios }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="proyecto">Proyecto</label>
          <select id="proyecto" [(ngModel)]="tarea.id_proyecto" name="id_proyecto" class="form-control" required>
            <option *ngFor="let proyecto of proyectos" [value]="proyecto.idProyecto">
              {{ proyecto.descripcion }}
            </option>
          </select>
        </div>

        <div class="text-center">
          <button (click)="guardarTarea()" class="btn btn-primary">Guardar Tarea</button>
        </div>
      </form>
    </div>
  </div>
</div>


  
